.line {
  text-align: left;
  padding: 0.5em;
  line-height: 1.3;
  font-size: 0.8rem;
  font-family: "JetBrains Mono", monospace;
  overflow-x: auto;
}

.lineNumber {
  display: inline-block;
  width: 2em;
  user-select: none;
  opacity: 0.3;
}

pre.language-json,
code.language-json {
  white-space: normal;
  overflow: auto;
  word-break: break-word;
}
