AGENT_HOST=http://localhost:3001
AGENT_WALLET_KEY=secret-wallet-key
DID_INDY_INDICIO_TESTNET_PUBLIC_DID_SEED=2543786a945a27258087ccfe95ff62df
CHEQD_TESTNET_COSMOS_PAYER_SEED=robust across amount corn curve panther opera wish toe ring bleak empower wreck party abstract glad average muffin picnic jar squeeze annual long aunt
ED25519_SEED=5473a3e4c5ae3fd5fb3ad089563596e3
P256_SEED=e5f18b10cd15cdb76818bc6ae8b71eb475e6eac76875ed085d3962239bbcf42f
X509_CERTIFICATE=MIIBGDCBv6ADAgECAhBaok2RHkURQndkcWUiNtn/MAoGCCqGSM49BAMCMAAwIBcNNzAwMTAxMDAwMDAwWhgPMjI4NjExMjAxNzQ2NDBaMAAwOTATBgcqhkjOPQIBBggqhkjOPQMBBwMiAALcD1XzKepFxWMAOqV+ln1fybBt7DRO5CV0f9A6mRp2xaM5MDcwNQYDVR0RBC4wLIYqaHR0cHM6Ly82ZjY4LTEwOS0zNy0xNDctMTI0Lm5ncm9rLWZyZWUuYXBwMAoGCCqGSM49BAMCA0gAMEUCIFH0dqgKmKnF3tXGddd4yfgr5zjXqcmzUUqXvJDWwzyKAiEA0ix1qrMYdQS+mCYW/C+/xJ+2Hbns3LT+vE9gwvE/VKM=