AGENT_HOST=http://localhost:3001
AGENT_WALLET_KEY=secret-wallet-key
DID_INDY_INDICIO_TESTNET_PUBLIC_DID_SEED=2543786a945a27258087ccfe95ff62df
CHEQD_TESTNET_COSMOS_PAYER_SEED=robust across amount corn curve panther opera wish toe ring bleak empower wreck party abstract glad average muffin picnic jar squeeze annual long aunt
ROOT_P256_SEED=e5f18b10cd15cdb76818bc6ae8b71eb475e6eac76875ed085d3962hgytbcf42f
DCS_P256_SEED=e5f18b10cd15cdb76818bc6ae8b71eb475e6eac76875ed085d3962hgytbcf42e
X509_ROOT_CERTIFICATE=MIIB8TCCAZigAwIBAgIQFMfMaD9JG917I+r6ztmSmjAKBggqhkjOPQQDAjAdMQ4wDAYDVQQDEwVBbmltbzELMAkGA1UEBhMCTkwwHhcNMjQwMjE5MTEyNDIzWhcNMjgwMjE5MTEyNDIzWjAdMQ4wDAYDVQQDEwVBbmltbzELMAkGA1UEBhMCTkwwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAATcD1XzKepFxWMAOqV+ln1fybBt7DRO5CV0f9A6mRp2xWn9lR8juDM4hIVHgX6HmVQTPlk8mZfg4jAuv3frEuDCo4G5MIG2MEoGA1UdDgRDBEEE3A9V8ynqRcVjADqlfpZ9X8mwbew0TuQldH/QOpkadsVp/ZUfI7gzOISFR4F+h5lUEz5ZPJmX4OIwLr936xLgwjAOBgNVHQ8BAf8EBAMCAQYwIQYDVR0SBBowGIYWaHR0cHM6Ly9mdW5rZS5hbmltby5pZDASBgNVHRMBAf8ECDAGAQH/AgEAMCEGA1UdHwQaMBgwFqAUoBKGEGh0dHBzOi8vYW5pbW8uaWQwCgYIKoZIzj0EAwIDRwAwRAIgFhmZ7WSPYMNT085jZSr2a/GtZ9x1OaR/iVE7v178NeACIGyH3ahZn/SKWrHuw+YT4AsFgexZeG1Z+2KrhhuVu8S7
X509_DCS_CERTIFICATE=MIICQDCCAeagAwIBAgIQWGRYPwCkw3JO8J9blPTkLDAKBggqhkjOPQQDAjAdMQ4wDAYDVQQDEwVBbmltbzELMAkGA1UEBhMCTkwwHhcNMjQwMjE5MTEyNDIzWhcNMjgwMjE5MTEyNDIzWjAhMRIwEAYDVQQDEwljcmVkbyBkY3MxCzAJBgNVBAYTAk5MMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAElpGfqraK5bXiisBkifcI67SvBIjkJOj08n1rdRw6nwGUwtyl3H1s5P38I1AgpyAYKUU0v9indKifYp4iecOxLaOCAQIwgf8wSgYDVR0OBEMEQQSWkZ+qtorlteKKwGSJ9wjrtK8EiOQk6PTyfWt1HDqfAZTC3KXcfWzk/fwjUCCnIBgpRTS/2Kd0qJ9iniJ5w7EtMA4GA1UdDwEB/wQEAwIHgDAVBgNVHSUBAf8ECzAJBgcogYxdBQECMEwGA1UdIwRFMEOAQQTcD1XzKepFxWMAOqV+ln1fybBt7DRO5CV0f9A6mRp2xWn9lR8juDM4hIVHgX6HmVQTPlk8mZfg4jAuv3frEuDCMCEGA1UdEgQaMBiGFmh0dHBzOi8vZnVua2UuYW5pbW8uaWQwGQYDVR0RBBIwEIIOZnVua2UuYW5pbW8uaWQwCgYIKoZIzj0EAwIDSAAwRQIhAOtIcYdgFgw/o8a5TKH2qIVN72AobFxS7uTHUcnFxG6xAiAc0vWgs8YJ73hGhNtTNVylvI/uUJ0w9gp/AGngdMcYfg==
ANTHROPIC_API_KEY=
